In [3]:
# Quest 1
import math

def phi(n):
    """
    Euler's Totient function: counts numbers <= n that are relatively prime to n
    """
    count = 0
    for k in range(1, n+1):
        if math.gcd(k, n) == 1:
            count += 1
    return count

In [47]:
print(phi(9))  
print(phi(10))  
print(phi(1))

NameError: name 'phi' is not defined

In [40]:
# Quest 2
def easter_date(year):
    a = year % 19
    b = year // 100
    c = year % 100
    d = (19 * a + b - (b // 4) - ((b - ((b + 8) // 25) + 1) // 3) + 15) % 30
    e = (32 + 2 * (b % 4) + 2 * (c // 4) - d - (c % 4)) % 7
    m = (a + 11 * d + 22 * e) // 451

    month = (d + e + 114) // 31          
    day = ((d + e + 114) % 31) + 1

    if d == 29 and e == 6:
        month = 4
        day = 19  
    exception_m_values = {2, 5, 10, 13, 16, 21, 24, 39}
    if d == 28 and e == 6 and m in exception_m_values:
        month = 4
        day = 18  

    return month, day


year = 2025
month, day = easter_date(year)
print(f"Easter in {year} falls on: {month}/{day}")

Easter in 2025 falls on: 4/20

In [8]:
# Quest 3
def is_upper():
    for char in text:
        if char.isalpha() and not char.isupper():
            return False
    return True

In [39]:
print(is_upper("HELLO"))     
print(is_upper("Hello"))      
print(is_upper("GHANA2025"))

NameError: name 'is_upper' is not defined

In [ ]:
# Quest 4
def rand_lowe_string():
    for char in text:
        if char.isalpha() and not char.isupper():
            return False
    return True

In [38]:
# Quest 5
def contains_a_letter(text):
    for char in text:
        if char.isalpha():     
            return True
    return False

In [37]:
# Quest 6
def simplify_text(text):
    text = text.lower()
   
    remove_chars = '.,!?;:"()[]{}<>/@#$%^&*_+=\\|~`'
 
    simplified = ""
    for char in text:
        if char not in remove_chars:
            simplified += char
    
    return simplified

In [10]:
# Quest 7
def convert_time(time_str):
   
    hour_str, minute_str = time_str.split(":")
    hour = int(hour_str)
 
    groups = ["A", "B", "C", "D", "E"]
    group_index = hour // 5
    group = groups[group_index]
  
    southern_hour = (hour % 5) + 1
    return f"{southern_hour}{group}:{minute_str}"

In [9]:
# Quest 8
def next_name(name):
    letters = list(name)
    i = len(letters) - 1   
    
    while i >= 0:
        if letters[i] != 'Z':
            letters[i] = chr(ord(letters[i]) + 1)
            return ''.join(letters)
        else:
            letters[i] = 'A'
            i -= 1
    return 'A' + ''.join(letters)

In [8]:
print(next_name("S"))      # T
print(next_name("CD"))     # CE
print(next_name("AZ"))     # BA
print(next_name("ZZ"))     # AAA
print(next_name("AAB"))    # AAC

T
CE
BA
AAA
AAC

In [36]:
# Quest 9
def reverse_mirrored(text):
   
    letters = [c for c in text if c.isalpha()]
  
    letters.reverse()
  
    result = []
    letter_index = 0
    
    for c in text:
        if c.isalpha():
            result.append(letters[letter_index])
            letter_index += 1
        else:
            result.append(c) 
    
    return "".join(result)

In [15]:
# Quest 10
def average(numbers):
    if len(numbers) == 0:
        return 0 
    return sum(numbers) / len(numbers)
print(average([2, 4, 6, 8]))

5.0

In [17]:
# Quest 11
def closest(numbers, n):
    closest_num = numbers[0]
    
    for num in numbers[1:]:
        if abs(num - n) < abs(closest_num - n):
            closest_num = num
        elif abs(num - n) == abs(closest_num - n) and num < closest_num:
            closest_num = num

    return closest_num
print(closest([5, 10, 14], 12))     
print(closest([1, 8, 20], 10))       
print(closest([-2, -5, 3], 0))

10
8
-2

In [19]:
# Quest 12
def changes_by_one(nums):
    indices = []
    
    for i in range(1, len(nums)):
        if nums[i] == nums[i-1] + 1:
            indices.append(i)
    
    return indices
print(changes_by_one([1,2,5,10,11,12,15,16]))

[1, 4, 5, 7]

In [21]:
# Ques 13
def string_sort(s):
    letters = list(s)    
    letters.sort()       
    return "".join(letters)  
print(string_sort("dcba"))      
print(string_sort("mississippi"))

abcd
iiiimppssss

In [23]:
# Quest 14 
def telephone_match(num, s):
    keypad = {
        '2': 'ABC', '3': 'DEF', '4': 'GHI',
        '5': 'JKL', '6': 'MNO', '7': 'PQRS',
        '8': 'TUV', '9': 'WXYZ'
    }

    digits = [c for c in num if c.isdigit()]
  
    s = s.upper()
  
    if len(digits) != len(s):
        return False
   
    for d, letter in zip(digits, s):
        if letter not in keypad.get(d, ''):
            return False
    
    return True
print(telephone_match("468-3437", "INTEGER"))  
print(telephone_match("43556", "HELLO"))        
print(telephone_match("43556", "WORLD"))

True
True
False

In [24]:
# Quest 15
def integer_lengths(numbers):
    total_length = 0
    for num in numbers:
      
        total_length += len(str(abs(num))) 
    return total_length
print(integer_lengths([2, 44, 532, 3, 44, 22]))  
print(integer_lengths([-1, 23, -456]))

11
6

In [25]:
# Quest 16
def integer_lengths(numbers):
    total_length = 0
    for num in numbers: 
        total_length += len(str(abs(num))) 
    return total_length

print(integer_lengths([2, 44, 532, 3, 44, 22]))  
print(integer_lengths([-1, 23, -456]))

11
6

In [27]:
#  Quest 17
import random

def teams(names):
    random.shuffle(names)
    
    for i in range(0, len(names), 2):
        print(f"Team: {names[i]} & {names[i+1]}")
names_list = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank"]
teams(names_list)

Team: Alice & Charlie
Team: Bob & Eve
Team: David & Frank

In [28]:
 # Quest 18
import random

def triple_shuffle(list1, list2, list3):
    if not (len(list1) == len(list2) == len(list3)):
        raise ValueError("All lists must have the same length")
   
    indices = list(range(len(list1)))
 
    random.shuffle(indices)
  
    list1[:] = [list1[i] for i in indices]
    list2[:] = [list2[i] for i in indices]
    list3[:] = [list3[i] for i in indices]
a = [1, 2, 3, 4, 5]
b = [11, 22, 33, 44, 55]
c = [9, 8, 7, 6, 5]

triple_shuffle(a, b, c)
print(a)  # e.g., [4, 1, 5, 3, 2]
print(b)  # e.g., [44, 11, 55, 33, 22]
print(c)  # e.g., [6, 9, 5, 7, 8]

[2, 5, 4, 3, 1]
[22, 55, 44, 33, 11]
[8, 5, 6, 7, 9]

In [29]:
# Quest 19 
def print_2d(matrix):
    for row in matrix:
        print(row)
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print_2d(matrix)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [46]:
# Quest 20
import random

def randc_2d_list(m, n, y):
    matrix = []
    for i in range(m):
        row = [random.randint(0, y) for _ in range(n)]
        matrix.append(row)
    return matrix
matrix = randc_2d_list(3, 4, 10)
for row in matrix:
    print(row)

[1, 1, 1, 1]
[8, 1, 5, 10]
[10, 10, 0, 7]

In [32]:
# Quest 21
def number_of_lines(filename):
    count = 0
    with open(filename, 'r') as file:
        for line in file:
            count += 1
    return count

In [45]:
# Quest 22
def find_words(consonants):
    vowels = 'aeiou'
    consonants = consonants.lower()
    matching_words = []

    # Open the word list file
    with open("wordlist.txt", "r") as file:
        for word in file:
            word = word.strip().lower()
    
            word_no_vowels = ''.join([c for c in word if c not in vowels])
           
            if word_no_vowels == consonants:
                matching_words.append(word)
    
    return matching_words

In [44]:
# Quest 23
def words_in_word(t):
    t = t.lower()
    words_found = set()  
  
    with open("wordlist.txt", "r") as f:
        word_set = set(word.strip().lower() for word in f)

    for start in range(len(t)):
        for end in range(start + 1, len(t) + 1):
            substring = t[start:end]
            if substring in word_set:
                words_found.add(substring)

In [43]:
# Quest 24
def integer_groups(numbers):
    if not numbers:
        return []

    groups = []
    current_group = [numbers[0]]

    for i in range(1, len(numbers)):
        if numbers[i] == numbers[i - 1] + 1:
            current_group.append(numbers[i])
        else:
            groups.append(current_group)
            current_group = [numbers[i]]

    groups.append(current_group)
    return groups
numbers = [1, 2, 5, 6, 7, 10, 11]
print(integer_groups(numbers))

[[1, 2], [5, 6, 7], [10, 11]]